*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaBookC.ttf');
}
body{
    font-family: 'Futura';
}

.card:not(:last-of-type) {
    margin-right: 26px;
}
.btn{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #A387C4;
    border-radius: 30px;
    padding: 20px 64px;
    border: 3px solid #A387C4;
}
.btn_i{
    background: unset;
}
.title{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
}
.text{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}
.text_p{
    color: #4C3D74;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header{
    background: #4C3D74;
    padding-top: 105px;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
}
.header__logo{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__list{
    display: flex;
}
.header__item:not(:last-of-type){
    margin-right: 27px;
}
.header__link{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.header__burger{
    display: none;
}
/* Intro */
.intro{
    background: #4C3D74;
    padding-bottom: 180px;
}
.intro__wrap{
    display: flex;
    align-items: center;
}

.intro__subtitle{
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}
.intro__title{
    margin-bottom: 30px;
}
.intro__btns{
    display: flex;
    margin-top: 45px;
}
.intro__btn:not(:last-of-type){
    margin-right: 25px;
}
.intro__img{
    width: 472px;
    height: 472px;  
}
.intro__img img{
    height: 100%;
    object-fit: cover;
}


/* Adaptive */
/* Intro */
@media (max-width:1280px) {
    .header{
        padding-top: 80px;
    }
    .container{
        width: unset;
        padding: 0 15PX;
    }
    .intro{
        padding-bottom: 100px;
    }
    .intro__img{
        width: 310px;
        height: 310px;
    }
}
@media (max-width:1024px) {
    .header{
        padding: 50px 0;
    }
    .intro{
        padding-bottom: 50px;
    }
    .intro__wrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .intro__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__title, .intro__subtitle{
        text-align: center;
    }
}
@media (max-width: 768px) {
    .header__menu{
        display: none;
    }
    .header__burger{
        color: #fff;
        display: block;
    }
    .intro__subtitle{
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 27px;
    }
    .intro__title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 27px;
    }
    .intro__btns{
        flex-direction: column;
    }
    .intro__btn:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.content__cards{
    display: flex;
}
.content__card1{
    background: #F2EEF7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 23px 25px 26px 9px;
}
.content__card1::before{
    content: '';
    background: url('../img/woman-frowning_1f64d-200d-2640-fe0f.svg') no-repeat center;
    display: block;
    width: 89px;
    height: 89px;
    margin-left: -50px;
    margin-right: 7px;
    margin-bottom: 3px;
}
.content__card2{
    background: #F2EEF7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.content__card3{
    background: #F2EEF7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.content__text1{
    width: 225px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #4C3D74;
    margin-top: 4px;
}
.content__text2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #4C3D74;
}
.content__text3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #4C3D74;
}
.content__title{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #504178;
}
.content__header{
    text-align: center;
    margin-top: 199px;
    margin-bottom: 46px;
}
